<title>日程安排</title>

<link rel="stylesheet" href="/static/css/user/schedule.css">

<div id="Lay-user-schedule-view" class="schedule-view flex pad-10">
  <div class="schedule-canclear-container"></div>
  <div class="schedule-note-container flex-1 ml-10 flex flex-col">
    <div class="schedule-note-header flex flex-ac flex-jb">
      <div class="schedule-note-date pl-20">
        <span class="schedule-note-day"></span>
        <span class="schedule-note-dateseparation">/</span>
        <span class="schedule-note-month"></span>
        <span class="schedule-note-title ml-15">当日提醒事项</span>
      </div>
      <div class="schedule-note-btn-add btn-add-note"><i class="layui-icon layui-icon-add-1 mr-10"></i>添加提醒事项</div>
    </div>

    <div class="schedule-note-main flex-1 flex">
      <div class="schedule-note-left-box">
        <div class="schedule-note-icon-tip"></div>
      </div>
      <ul class="schedule-note-list flex-1 pad-lr-20 overflow-auto"></ul>
    </div>
  </div>
</div>

<script>
   layui.use("UserScheduleIndex", layui.factory("UserScheduleIndex"));
</script>