<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>角色选择</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../../../layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="../../../static/css/base.css">
    <style>
        .tree-demo {
            min-height: 200px;
        }
    </style>
</head>

</head>
<body>
<div class="tree-structure pad-10">
    <!-- <input type="text" name="companyAbbreviation" autocomplete="off" class="layui-input"> -->
    <ul id="tree-demo" class="tree-demo" lay-filter="tree-demo">
</div>

<script type="text/javascript" src="../../../layui/layui.js"></script>
<script type="text/javascript" src="../../controller/component/role-parent.js"></script>
</body></html>